*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Noto Sans', sans-serif; */
 /* font-family: 'Open Sans', sans-serif;  */
/* font-family: 'Roboto Mono', monospace; */
font-family: 'Sora', sans-serif; 
color: #4a4a4d;
}
header{
    background-color: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 25%);
    color: #4a4a4d;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
    
}
header div{
    width: 320px;
    margin: 0 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div img{
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-between;
    
}
header nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #4a4a4d;
}
a:hover, .headerIcon:hover {
    color: #757578;
}


/* ordered list  */
.microOL {
    /* max-width: 350px; */
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
  }
  .microOL li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
  }
  .microOL li::before {
    content: counter(my-awesome-counter);
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    background: #4a4a4d;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }
   

/* first section  */
.firstSection{
    display: flex;
    text-align: center;
}
.firstSection figure{
    width: 50%;
}
.firstSection figure img{
    max-width: 100%;
    object-fit: cover;
}
.firstSection div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f6;
    padding: 50px;
}
.firstSection div .salad{
    font-size: 11px;
    font-weight: 700;  
    letter-spacing: .2em;  
}
.firstSection h1{
    font-size: 42px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.1;
    font-family: 'Tinos', serif;
    /* font-family: 'Cinzel', serif; */

}
p{
    line-height: 1.7;
    font-weight: 300;
    font-size: 18px;
}
 /* button  */
button{
    color: #fff;
    background-color: #4a4a4d;
    border: none;
}

/* second section  */
.secSecond{
    color: #fff !important;
    background-color: #4a4a4d;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder{
    color: #4a4a4d;
    font-style: italic;
    font-size: 16px;
}

/* third section  */
.jumpTo{
    background-color: #f7f7f6;
    border-left: 5px solid #efefe9;
    padding: 25px 30px;
    font-weight: 300;
}
.jumpTo ul{
    text-decoration: underline;
    line-height: 1.7;
    font-size: 18px;
}

/* fourth section  */
.h2heading{
    font-size: 27px;
    font-weight: 300;
    border-bottom: 1px solid #efefe9;
    padding-bottom: 12px;
    margin-top: 45px;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Tinos', serif;
    /* text-transform: lowercase; */
}
.fourthSection{
    margin-top: 40px;
}

figure{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
figure div{
    width: 100%;
} 
figure div img{
    max-width: 100%;
}
/* img{
    
} */
h4{
    font-weight: 300;
    font-size: 14px;
}

/* footer  */
footer{
    padding: 100px 140px;
    font-size: 14px;
}
.footerCon{
    display: flex;
    justify-content: space-between;
}
.footerCon ul{
    list-style-type: none;
    line-height: 2;
}

.footerCon ul li a {
    color: #757578;;
}

footer .lastFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.lastFooter p, .lastFooter i{
    font-size: 12px;
    font-weight: 200;
    margin-top: 1px;
}
.foodHover:hover h4 {
    background-color: #4a4a4d !important;
    color: #fff;
}

/* dropdown  */
.list{
    display: none;
    background-color: #4a4a4d;
    padding: 7px  ;
    position: absolute;
    top: 60px;
    left: 40%;
    font-size: 14px;
    width: 200px;
}
.list a{
    color: #fff;
}
.listParent:hover .list{
    display: block;
    text-align: center;
}
.list ul{
    display: flex;
    flex-direction: column;
    line-height: 2.5;
}
.list li{
    padding: 0 15px;
}
.list li:hover {
    background-color: #757578;
}

.firstLetter::first-letter{
    color: inherit;
    float: left;
    font-size: 3em;
    /* font-weight: bold; */
    line-height: 1.1;
    margin-inline-end: 0.3rem;
    font-weight: 400;
    /* font-family: 'Cinzel', serif; */
font-family: 'Tinos', serif;
}